<div>
  <form action="/fruits/create" method="post">
    Name: <input type="text" name="name"/>
    Description: <input type="text" name="description"/>
    <input type="submit" value="Create Fruit"/>
  </form>
</div>
