<div><h1>Fruits</h1>
</div><br><br>
<table width="200">

  <tr>
    <td><strong><a href="/fruits/<%= @fruit.id %>/edit">Edit</a></strong></td>
  </tr>
  <tr>
    <td><p><strong>Fruit Name:</strong></td>
    <td><%= @fruit.name %></a></td>
    <br><br>
  </tr>
  <tr>
    <td><strong>Fruit Description:</strong></td>
    <td><%= @fruit.description %></a></p></td>
  </tr>
</table>