<ul>
  <li>
    <a href="/fruits">Fruit</a>
  </li>
  <li>
    <a href="/bikes">Bikes</a>
  </li>
  <li>
    <%= link_to 'Bugs', bugs_path %>
  </li>

  <li>
    <%= link_to 'Songs', songs_path %>
  </li>

  <li>
    <%= link_to 'Cars', cars_path %>
  </li>
</ul>