<h2>Showing Song</h2>

<dl class="attributes">
  <dt>Artist</dt>
  <dl><%= @song.artist%></dl>
  <dt>Title</dt>
  <dl><%= @song.title %></dl>
</dl>

<div class="actions">
  <%= link_to 'Edit', edit_song_path(@song) %> |
  <%= link_to 'Delete', song_path(@song), method: :delete %>
</div>