<h2>Showing Car</h2>

<dl class="attributes">
  <dt>Model</dt>
  <dl><%= @car.model %></dl>
  <dt>Year</dt>
  <dl><%= @car.year %></dl>
</dl>

<div class="actions">
<%= link_to 'Edit', edit_car_path %>
</div>